:root{
    --c3:#E5E5E5;
    --c4:#CCCCCC;
    --c9:#4D4D4D;
    --c10:#333333;
    --azul1:#3EB4FF;
    --azul2:#002D49;
    --azul3:#001624;
    --verde1:#A0F4A8;
    --verde2:#0A4710;
    --amarelo1:#FBFF8C;
    --amarelo2:#434500;
    --vermelho1:#FFBABA;
    --vermelho2:#790000;

    --fonte-ibm-plex-sans:'IBM Plex Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: var(--fonte-ibm-plex-sans);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}